langchain
langchain_community
langchain-core
langchain-openai
langchain-groq
langchain-huggingface
langchain-google-genai
langchain-cohere
python-dotenv
langgraph
langsmith
langchain_tavily
langchain-mcp-adapters
pypdf
pymupdf
markdown
langchain-text-splitters
langchain-chroma
langgraph-checkpoint-postgres
SQLAlchemy
psycopg2-binary
chromadb
sentence-transformers
scikit-learn
torch
ipywidgets
transformers